<h1 class="ui header">
  <i aria-hidden="true" class="drivers license outline icon"></i> My User Profile
</h1>

<!--
id?: string;
username?: string;
email?: string;
firstName?: string;
lastName?: string;
enabled?: boolean;
emailVerified?: boolean;
totp?: boolean;
createdTimestamp?: number;
-->
<table class="ui table">
  <thead>
  <tr>
    <th>Property</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>ID</td>
    <td>{{userDetails?.id}}</td>
  </tr>
  <tr>
    <td>Username</td>
    <td>{{userDetails?.username}}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{userDetails?.email}}</td>
  </tr>
  <tr>
    <td>Firstname</td>
    <td>{{userDetails?.firstName}}</td>
  </tr>
  <tr>
    <td>Lastname</td>
    <td>{{userDetails?.lastName}}</td>
  </tr>
  <tr>
    <td>emailVerified</td>
    <td>{{userDetails?.emailVerified}}</td>
  </tr>
  <tr>
    <td>Enabled</td>
    <td>{{userDetails?.enabled}}</td>
  </tr>
  <tr>
    <td>totp</td>
    <td>{{userDetails?.totp}}</td>
  </tr>
  <tr>
    <td>createdTimestamp</td>
    <td>{{userDetails?.createdTimestamp}}</td>
  </tr>
  <tr>
    <td>isUserRole</td>
    <td>{{isUserRole}}</td>
  </tr>
  <tr>
    <td>isAdminRole</td>
    <td>{{isAdminRole}}</td>
  </tr>
  <tr>
    <td>Profile Name</td>
    <td>{{profileName}}</td>
  </tr>
  <tr>
    <td>Profile Age</td>
    <td>{{profileAge}}</td>
  </tr>
  <!--<tr *ngFor="let claim of claims">
    <td>{{claim.claim}}</td>
    <td id="claim-{{claim.claim}}">{{claim.value}}</td>
  </tr>-->
  </tbody>
</table>
