<h2>Home</h2>

<h3>Embeed Google Docs</h3>

<!--<iframe width="100%" height="400px" src="https://docs.google.com/document/d/e/2PACX-1vRnYIpmaAUuRCo5AT8ANorTy-3CHeH5_lG6TC8N4rIxh9UOEpx-9yAWirTQYAA3MxMstn5hs9KMi_Am/pub?embedded=true&widget=true"></iframe>-->

<iframe width="100%" height="300px" src="https://docs.google.com/document/d/e/2PACX-1vSf-T_-_0-mBH4pJ8klqjtDClOYNRXyQz13WfSywexyGXu_IhZ3ZgUh3Dy-Qxn5qwpXgmFAiYcpbZNg/pub?embedded=true"></iframe>


<h2>Editable</h2>

<iframe width="100%" height="400px" src="https://docs.google.com/document/d/1dyCnvNXau3WeFU6RjflxZgTVryunb0mCxAx-pjmS5s0/edit"></iframe>


